<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音乐播放器</title>
    <link rel="stylesheet" href="../CSS/base.css">
    <link rel="stylesheet" href="./musicPlayer.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/c/font_3505213_svgybfwdqb.css">
</head>
<body>
    <!-- 背景图层 -->
    <div id="bg-layer"></div>

    <div id="wrapper">
        <!-- 头部内容 -->
        <header>
            <!-- 应用名称 -->
            <div class="appName">
                音乐播放器
            </div>
            <!-- 搜索框 -->
            <div class="search">
                <input type="text" placeholder="搜索" class="searchBox" v-model="query" v-on:keyup.enter="searchSong">
                <span class="searchIcon"><i class="icon-search iconfont" @click="searchSong"></i></span>
            </div>
        </header>

        <!-- 主体内容 -->
        <div id="container">
            <!-- 主体左侧 ( 歌曲列表 ) -->
            <div class="container-left">
                <!-- 歌曲列表 -->
                <ul class="songList">
                    <!-- 列表内容 v-for 实现 -->
                    <li class="songItems" v-for="item in searchResult">
                        <!-- 歌曲播放按钮 ( opacity: 0; ) -->
                        <input type="radio" name="music" class="music" v-on:click="playState( item.id )">
                        <!-- 歌曲播放图标 -->
                        <i class="icon-play iconfont" title="播放"></i>
                        <!-- 歌曲名称 -->
                        <span class="songName" v-bind:title="item.name">
                            {{ item.name }}&nbsp;&nbsp;---&nbsp;&nbsp;{{ item.artists[0].name }}
                            <!-- {{ item.mvid }} -->
                        </span>
                        <!-- <input type="radio" name="musicSpan" class="musicSpan"> -->
                        <!-- MV播放图标 -->
                        <!-- <input type="radio" name="music" class="MV"> -->
                        <i class="icon-video iconfont" title="MV" v-show="item.mvid!=0" v-on:click="playMV( item.mvid )"></i>
                    </li>
                </ul>
            </div>

            <!-- 主体中间 ( 播放动画 ) -->
            <div class="container-center">
                <!-- 光盘 -->
                <div class="CD" v-bind:class="{ playing: isPlaying }">
                    <div class="sheen"></div>
                    <div class="blackBorder">
                        <div class="texture">
                            <div class="inside">
                                <div class="cover">
                                    <img v-bind:src="picUrl" v-on:click="viewLarger" alt="封面" class="coverImg" title="双击查看大图">
                                    <!-- <div class="center_Of_A_Circle"></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 读取器 -->
                <div class="fixed">
                    <div class="fixation">
                        <div>
                            <div>
                                <!--  -->
                            </div>
                        </div>
                    </div>
                    <div class="pole">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>

            <!-- 主体右侧 ( 热门评论 ) -->
            <div class="container-right">
                <!-- 热门评论 -->
                <h3>热门评论</h3>
                <!-- 热门评论列表 -->
                <ul>
                    <!-- 列表内容 v-for 实现 -->
                    <li v-for="item in userComments">
                        <!-- 用户头像 -->
                        <span class="userImg">
                            <i class="icon-xinxibar_zhanghu iconfont"></i>
                            <img v-bind:src="item.user.avatarUrl" alt="用户头像" class="avatarUrl">
                        </span>
                        <!-- 用户名称 -->
                        <span class="userName" >
                            {{ item.user.nickname }}
                        </span>
                        <!-- 评论内容 -->
                        <span class="userMain">
                            {{ item.content }}
                        </span>
                        <!-- 评论时间 -->
                        <span class="userTime">
                            {{ item.timeStr }}
                            <!-- {{ item.time }}
                                时间戳
                            1626524619167 -->
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 页脚内容 -->
        <footer>
            <!-- 播放状态 -->
            <!-- <input type="button" value="开始" class="on-off" style="cursor: pointer;" /> -->
            <audio v-bind:src="musicUrl" v-on:play="play" @pause="pause" loop="loop" controls="controls" autoplay="autoplay" class="playState"></audio>
        </footer>

        <!-- MV -->
        <div class="videoMV" v-show="isShow">
            <div class="mask" @click="hideVideo"></div>
            <video v-bind:src="MVUrl" controls="controls" class="videoMV"></video>
        </div>

        <!-- 查看大图 -->
        <div class="viewLarger" v-show="viewLargerImage" @click="viewsmaller">
            <img v-bind:src="picUrl" alt="查看大图" class="viewLargerImage">
        </div>
    </div>

    <!-- Vue -->
    <!-- 引入 Vue Axios 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let app = new Vue( {
            // 所用接口: 
            /*
                接口: 歌曲搜索接口
                请求地址: https://autumnfish.cn/search
                请求方法: get
                请求参数: keywords ( 查询的关键字 )
                响应内容: 歌曲搜索结果
            */
            /*
                接口: 歌曲URL获取
                请求地址: https://autumnfish.cn/song/url
                请求方法: get
                请求参数: id ( 歌曲id )
                响应内容: 歌曲的URL地址
            */
            /*
                接口: 歌曲详情获取
                请求地址: https://autumnfish.cn/song/detail
                请求方法: get
                请求参数: ids ( 歌曲id )
                响应内容: 歌曲详情, 包含封面详情
            */
            /*
                接口: 热门评论获取
                请求地址: https://autumnfish.cn/comment/hot?type=0
                请求方法: get
                请求参数: id ( 歌曲id, type固定为0 )
                响应内容: 歌曲的热门评论
            */
            /*
                接口: MV地址请求
                请求地址: https://autumnfish.cn/mv/url
                请求方法: get
                请求参数: id ( mvid, 若为 0 则无MV )
                响应内容: MV的地址
            */
            el: "#wrapper",
            data: {
                // 搜索内容
                query: "薛之谦", 
                // 搜索结果
                searchResult: [], 
                // 播放地址
                musicUrl: "", 
                // 歌曲封面
                picUrl: "#", 
                // 热门评论
                userComments: [], 
                // 播放状态
                isPlaying: false, 
                // MV地址
                MVUrl: "#", 
                // 遮罩层
                isShow: false, 
                // 显示大图
                viewLargerImage: false
            }, 
            methods: {
                // === 获取歌曲 ===
                searchSong: function() {
                    let $this = this;
                    axios.get( "https://autumnfish.cn/search?keywords=" + this.query )
                    .then( function( response ) {
                        // console.log( response.data.result.songs[0].artist );
                        // console.log( response.data.result.songs[0].artists[0].name );
                        // response.data.result.songs.forEach( item => {
                        //     console.log( item.artists[0].name );
                        // } );
                        $this.searchResult = response.data.result.songs;
                    }, function( error ) {
                        console.log( error );
                    } );
                },

                // === 获取歌曲信息 ===
                playState: function( musicId ) {
                    // === 获取歌曲地址 ===
                    let $this = this;
                    axios.get( "https://autumnfish.cn/song/url?id=" + musicId )
                    .then( function( response ) {
                        // console.log( response );
                        $this.musicUrl = response.data.data[0].url;
                    }, function( error ) {
                        console.log( error );
                    } );

                    // === 获取歌曲封面 ===
                    axios.get( "https://autumnfish.cn/song/detail?ids=" + musicId )
                    .then( function( response ) {
                        // console.log( response );
                        $this.picUrl = response.data.songs[0].al.picUrl;
                    }, function( error ) {
                        console.log( error );
                    } );

                    // === 获取歌曲评论 ===
                    axios.get( "https://autumnfish.cn/comment/hot?type=0&id=" + musicId )
                    .then( function( response ) {
                        // console.log( response );
                        $this.userComments = response.data.hotComments;
                    }, function( error ) {
                        console.log( error );
                    } );
                },

                // === 歌曲播放 ===
                play: function() {
                    this.isPlaying = true;
                    document.querySelector( '.fixed' ).style.transform = `rotateZ( 4.5deg )`;
                    document.querySelector( '.CD' ).style.animationPlayState = `running`;
                    let coverImg = document.querySelector( 'div#container > div.container-center img.coverImg' );
                    // console.log( coverImg );
                },

                // === 歌曲暂停 ===
                pause: function() {
                    this.isPlaying = false;
                    document.querySelector( '.fixed' ).style.transform = `rotateZ( -25deg )`;
                    document.querySelector( '.CD' ).style.animationPlayState = `paused`;
                },

                // === MV播放 ===
                playMV: function( mvid ) {
                    let $this = this;
                    axios.get( "https://autumnfish.cn/mv/url?id=" + mvid )
                    .then( function( response ) {
                        console.log( response );
                        $this.isShow = true;
                        $this.MVUrl = response.data.data.url;
                    }, function( error ) {
                        console.log( error );
                    } );
                },

                // === MV退出 ===
                hideVideo: function() {
                    this.isShow = false;
                    this.MVUrl = "#";
                },

                // === 查看大图 ===
                viewLarger: function() {
                    this.viewLargerImage = true;
                    // console.log( 'getting' );
                },

                // === 还原视图 ===
                viewsmaller: function() {
                    this.viewLargerImage = false;
                }
            }
        } );
    </script>
</body>
</html>