@charset "utf-8";
/* CSS Document */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike,sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0px;
    padding: 0px;
}
    body,ul,li,a{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        text-decoration: none;
    }
    body{
        background-color: #F4F4F4;
    }
    header{
        width: 100%;
        height: 60px;
        background-color: #FFFFFF;
        margin-bottom: 20px;
        box-shadow: 0px 0px 5px 5px #CCCCCC;
    }
    .top{
        display: flex;
        width: 60%;
        height: 60px;
        margin: 0px auto;
        /* border: 1px solid red; */
        justify-content: space-between;
    }
    /* header > section > section{
        border: 1px solid green;
    } */
    .top_left{
        display: flex;
        flex-grow: 0.5;
        /* justify-content: center; */
        align-items: center;
    }
    .top_left > img{
        height: 50px;
    }
    .top_center{
        flex-grow: 5;
    }
    .top_center > ul{
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .top_center > ul > li{
        width: 65px;
        /* background-color: rgb(120,100,225); */
        position: relative;
        text-align: center;
    }
    .top_center > ul > li > a:hover{
        color: #000;
    }
    .top_center > ul > li > div{
        text-align: center;
        font-family: "微软雅黑";
        font-size: 14px;
        color: rgba(31,45,61,0.5);
        font-weight: bold;
        cursor: pointer;
    }
    .top_center > ul > li > div > p{
        margin: 0px;
    }
    .top_center > ul > li > div:hover > p{
        color: #000;
    }
    .t_c_li_div{
        display: none;
        width: 170px;
        position: absolute;
        /* top: 40px; */
        left: -20px;
        background-color: #FFFFFF;
        padding: 10px 10px;
        z-index: 99999;
    }
    .top_center > ul > li:hover > .t_c_li_div{
        display: block;
    }
    .t_c_li_div > ul > li{
        display: flex;
        height: 40px;
        text-align: center;
        /* justify-content: space-between; */
        align-items: center;
        /* padding: 0px 10px; */
        /* border: 1px solid red; */
    }
    .t_c_li_div > ul > li a{
        margin-left: 40px;
        padding: 0px 40px 0px 0px;
        font-size: 12px;
        color: #8492A6;
        font-weight: bold;
    }
    .t_c_li_div > ul > li > img{
        width: 40px;
    }
    .top_center > ul > li >a,.top_right > ul > li > a{
        font-family: "微软雅黑";
        font-size: 14px;
        color: rgba(31,45,61,0.5);
        font-weight: bold;
    }
    .top_right > ul > li > a{
        color: #6D6D6D;
    }
    .top_right > ul > li > a:hover{
        color: blueviolet;
    }
    .top_right{
        flex-grow: 2;
    }
    .top_right > ul{
        display: flex;
        width: calc(100% - 1px);
        height: 100%;
        justify-content: space-around;
        align-items: center;
        border-left: 1px solid #DEDEDE;
    }
    .top_right > ul > li{
        width: 45px;
        /* background-color: rgb(120,100,225); */
        text-align: center;
    }
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- header style end ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
    nav{
        width: 60%;
        height: 80PX;
        background-color: #FFFFFF;
        margin: 0px auto;
        border-radius: 10px;
        box-shadow: 0px 5px 5px #CCCCCC;
        margin-bottom: 20px
    }
    nav > ul{
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }
    nav > ul > li{
        width: 50px;
        text-align: center;
    }
    nav > ul > li > a{
        color: #6D6D6D;
        /* font-weight: 500; */
        text-shadow: 1px 1px 5px #6D6D6D;
    }
    nav > ul > li > a:hover{
        color: black;
    }
    nav > ul > li:first-child{
        padding: 10px 20px;
        background-color: #8492A6;
        border-radius: 10px;
    }
    nav > ul > li:first-child > a{
        font-weight: bold;
        color: #FFFFFF;
    }
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- nav style end ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
    #content{
        width: 60%;
        margin: 0px auto;
        margin-bottom: 20px;
    }
    .content{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .content > section{
        width: 24%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 2px #8492A6;
    }
    .content > section > section:first-child{
        position: relative;
        min-width: 200px;
    }
    .content > section > section:first-child span{
        position: absolute;
        top: 5px;
        left: -10px;
        background-color: #FFAA00;
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        border-radius: 10px;
        font-size: 12px;
        padding: 0px 5px;
        line-height: 18px;
        cursor: pointer;
    }
    .content > section > section:first-child img{
        width: 100%;
        border-radius: 5px;
        min-width: 200px;
    }
    .content > section > section:first-child > section{
        display: flex;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    .content > section > section:first-child > section > article{
        background-color: rgba(0,0,0,0.5);
        color: #FFFFFF;
        text-align: center;
        font-size: 12px;
        padding: 2px 5px;
        margin-right: 5px;
        cursor: default;
    }
    .content > section > section:first-child > section > article:nth-child(2){
        cursor: pointer;
    }
    .content > section > section:nth-child(2){
        font-size: 14px;
        margin-bottom: 20px;
        min-width: 200px;
        text-align: center;
    }
    .content > section > section:nth-child(2) > p{
        width: 50px;
        margin-left: 5px;
        cursor: pointer;
    }
    .content > section > section:nth-child(2) > p:hover{
        color: red;
    }
    .content > section > section:last-child{
        min-width: 200px;
    }
    .content > section > section:last-child > article > span{
        font-size: 12px;
        color: #8492A6;
        cursor: default;
    }
    .content > section > section:last-child > article:first-child{
        /* display: flex;
        height: 24px; */
        letter-spacing: -1px;
        min-width: 200px;
        cursor: default;
    }
    .content > section > section:last-child > article:first-child > span:first-child{
        background-color: #B572E5;
        border-radius: 5px;
        color: #FFFFFF;
        cursor: pointer;
    }
    /* .content > section > section:last-child > article:first-child > span:nth-child(2){
        border: 1px solid red;
    } */
    .content > section > section:last-child > article:first-child > span:nth-child(5) > i{
        color: orange;
        letter-spacing: -5px;
    }
    .content > section > section:last-child > article:last-child{
        /* border: 1px solid red; */
        cursor: default;
    }
    .content > section > section:last-child > article:last-child > span:nth-child(2){
        font-size: 14px;
        color: #000;
    }
    .content > section > section:last-child > article:last-child > span:last-child{
        background-color: orange;
        color: #FFFFFF;
        border-radius: 5px;
        padding: 0px 5px;
        float: right;
    }
    #content > section:first-child{
        margin-bottom: 50px;
    }
    #content > section:nth-child(2){
        margin-bottom: 50px;
    }
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- #content style end ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
    #page{
        display: flex;
        width: 60%;
        margin: 0px auto;
        justify-content: center;
        margin-bottom: 20px;
        font-size: 16px;
        background-color: blueviolet;
    }
    #page .icon-arrow-left,.icon-arrow-right{
        font-weight: bold;
        color: #000;
    }
    #page > article{
        padding: 8px 15px;
        margin-left: 5px;
    }
    #page > article:hover{
        transform: translate(0px,-2px);
    }
    #page > article > a{
        color: #000;
    }
    #page > article > a:hover{
        color: red;
        text-shadow: 10px,10px,5px,red;
    }
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- #page style end ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
    footer{
        width: 100%;
        height: 300px;
        background-color: #FFFFFF;
    }
    .footer{
        display: flex;
        width: 60%;
        height: 280px;
        /* border: 1px solid red; */
        margin: 0px auto;
        justify-content: space-between;
    }
    /* .footer > section{
        border: 1px solid red;
    } */
    .footer_left{
        width: 40%;
        position: relative;
    }
    .footer_left > img{
        width: 120px;
        position: absolute;
        top: -30px;
        left: calc(50% - 120px / 2);
    }
    .footer_left > p{
        margin-top: 100px;
        text-indent: 2.3em;
        /* text-align: center; */
        font-size: 14px;
        color: #8492A6;
        padding: 0px 10px;
    }
    .footer_center{
        flex-grow: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    /* .footer_center > div{
        border: 2px solid red;
    } */
    .footer_center > div > h6{
        font-size: 18px;
        border-bottom: 1px solid #0097e1;
        color: #8492A6;
        padding-bottom: 10px;
        cursor: default;
    }
    .footer_center > div > ul{
        text-align: center;
    }
    .footer_center > div > ul > li{
        margin-top: 5px;
    }
    .footer_center > div > ul > li > a{
        color: #8492A6;
    }
    .footer_center > div > ul > li > a:hover{
        color: rgb(244, 55, 93);
        border-bottom: 1px solid rgb(120,100,225);
    }
    .footer_right{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .footer_right > img{
        width: 100px;
        box-shadow: 2px 2px 2px 1px #A1A1A1;
        margin-top: 60px;
    }
    .footer_right > span{
        margin-top: 40px;
        color: #6D6D6D;
        text-shadow: 1px 1px 3px #A1A1A1;
        cursor: default;
    }
    .footer_bottom{
        width: 100%;
        height: 20px;
        background-color: rgb(120,100,225);
        margin: 0px auto;
        text-align: center;
        font-weight: bold;
        line-height: 20px;
    }
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- footer style end ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
    .top_ipad{
        display: none;
    }



/* PC端 */

    @media screen and (min-width: 960px){
        .top{
            min-width: 960px;
        }
/* ---- ---- ---- .top style end ---- ---- ---- */
        nav{
            min-width: 960px;
        }
/* ---- ---- ---- .nav style end ---- ---- ---- */
        #content{
            min-width: 960px;
        }
/* ---- ---- ---- #content style end ---- ---- ---- */
        #page{
            min-width: 960px;
            margin-bottom: 35px;
        }
/* ---- ---- ---- #page style end ---- ---- ---- */
        .footer{
            min-width: 960px;
        }
        .footer_bottom{
            min-width: 960px;
        }
/* ---- ---- ---- footer style end ---- ---- ---- */
    }

/* iPad端 */

    @media screen and (min-width: 750px) and (max-width: 960px){
        .top{
            min-width: 750px;
        }
        .top_center,.top_right{
            display: none;
        }
        .top_ipad{
            display: block;
            width: 50px;
            height: 100%;
            line-height: 60px;
            color: #6D6D6D;
            font-size: 22px;
            text-align: center;
        }
        .top_ipad > section{
            display: none;
            width: 100%;
            height: 320px;
            background-color: #DDDCDC;
            position: absolute;
            left: 0px;
            z-index: 1;
        }
        .top_ipad:hover > section{
            display: block;
        }
        .top_ipad > section > div{
            width: 60%;
            height: 100%;
            margin: 0px auto;
        }
        .top_ipad > section > div > ul > li{
            width: 40%;
            line-height: 35px;
            margin-top: 2px;
            background-color: #E0E0E0;
            border-radius: 10px;
            text-align: center;
        }
        .top_ipad > section > div > ul > li:hover{
            background-color: #A1A1A1;
            box-shadow: 0.1px 0.1px 10px 1px #000;
        }
        .top_ipad > section > div > ul > li > a{
            color: rgba(31,45,61,0.5);
            font-weight: bold;
            font-size: 16px;
        }
        .top_ipad > section > div > ul > li > a:hover{
            color: #FFFFFF;
        }
/* ---- ---- ---- .top style end ---- ---- ---- */
        nav{
            min-width: 750px;
        }
/* ---- ---- ---- .nav style end ---- ---- ---- */
        #content{
            min-width: 750px;
        }
        .content{
            min-width: 750px;
            flex-wrap: wrap;
        }
        .content > section{
            width: 45%;
            /* margin-bottom: 80px; */
        }
        .content > section:first-child,.content > section:nth-child(2){
            margin-bottom: 60px;
        }
        .content > section:nth-child(3),.content > section:last-child{
            margin-bottom: 10px;
        }
/* ---- ---- ---- #content style end ---- ---- ---- */
        #page{
            min-width: 750px;
            margin-bottom: 35px;
            text-align: center;
        }
        #page > article{
            width: 30px;
            margin-left: 10px;
            padding: 0px;
        }
/* ---- ---- ---- #page style end ---- ---- ---- */
        .footer{
            min-width: 750px;
        }
        .footer_bottom{
            min-width: 750px;
        }
/* ---- ---- ---- footer style end ---- ---- ---- */
    }

/* 移动端 */

    @media screen and (max-width: 750px){
        .top{
            min-width: 240px;
        }
        .top_center,.top_right{
            display: none;
        }
        .top_ipad{
            display: block;
            width: 50px;
            height: 100%;
            line-height: 60px;
            color: #6D6D6D;
            font-size: 22px;
            text-align: center;
        }
        .top_ipad > section{
            display: none;
            width: 100%;
            height: 320px;
            background-color: #DDDCDC;
            position: absolute;
            left: 0px;
            z-index: 1;
        }
        .top_ipad:hover > section{
            display: block;
        }
        .top_ipad > section > div{
            width: 60%;
            height: 100%;
            margin: 0px auto;
        }
        .top_ipad > section > div > ul > li{
            width: 40%;
            line-height: 35px;
            margin-top: 2px;
            background-color: #E0E0E0;
            border-radius: 10px;
            text-align: center;
        }
        .top_ipad > section > div > ul > li:hover{
            background-color: #A1A1A1;
            box-shadow: 0.1px 0.1px 10px 1px #000;
        }
        .top_ipad > section > div > ul > li > a{
            color: rgba(31,45,61,0.5);
            font-weight: bold;
            font-size: 16px;
        }
        .top_ipad > section > div > ul > li > a:hover{
            color: #FFFFFF;
        }
/* ---- ---- ---- .top style end ---- ---- ---- */
        nav{
            height: 140px;
            min-width: 240px;
            /* border: 1px solid red; */
        }
        nav > ul{
            flex-wrap: wrap;
            padding: 5px;
        }
        nav > ul > li{
            width: 32%;
            padding: 8px 0px;
            text-align: center;
        }
        nav > ul > li:first-child{
            /* border: 1px solid red; */
            padding: 10px 0px;
        }
/* ---- ---- ---- .nav style end ---- ---- ---- */
        #content{
            min-width: 200px;
        }
        .content{
            min-width: 200px;
            flex-wrap: wrap;
        }
        .content > section{
            width: 100%;
        }
        .content > section:first-child,.content > section:nth-child(2),.content > section:nth-child(3){
            margin-bottom: 60px;
        }
        
        .content > section:last-child{
            margin-bottom: 10px;
        }
/* ---- ---- ---- #content style end ---- ---- ---- */
        #page{
            min-width: 200px;
            margin-bottom: 35px;
            text-align: center;
        }
        #page > article{
            width: 30px;
            margin-left: 5px;
            padding: 0px;
        }
/* ---- ---- ---- #page style end ---- ---- ---- */
        .footer{
            min-width: 200px;
            flex-direction: column;
            height: auto;
        }
        .footer_bottom{
            min-width: 200px;
        }
        .footer_center{
            display: none;
        }
        .footer_left{
            width: 100%;
        }
        .footer_right{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0px;
        }
        .footer_right > img{
            margin: 0px;
        }
        .footer_right > span{
            margin: 10px;
        }
        footer{
            height: auto;
        }
/* ---- ---- ---- footer style end ---- ---- ---- */
    }