/* 背景图层 */
#bg-layer {
    width: 100%;
    height: 100vh;
    background-color: var( --default-color );
}



/* 背景图片 */
#bg-layer #bg-img {
    width: inherit;
    height: inherit;
    background-image: var( --bg-layer-img-day );
    background-repeat: no-repeat;
    background-size: cover;
    animation: bg-img 5s ease-in-out infinite;
}
@keyframes bg-img {
    0% {
        transform: scale( 1 );
    }
    50% {
        transform: scale( 1.01 );
    }
    100% {
        transform: scale( 1 );
    }
}



/* 背景时钟 */
#bg-layer #bg-clock {
    position: absolute;
    top: 60px;
    left: var( --bg-clock-left );
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 380px;
    height: 100px;
    z-index: 1;
}
#bg-clock div.card {
    position: relative;
    width: 50px;
    height: 90px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #000000;
    font-size: 66px;
    text-align: center;
    line-height: 90px;
    box-shadow: 0 0 6px rgba( 0, 0, 0, 0.5 );
    overflow: hidden;
    box-sizing: border-box;
}
div.card .digital {
    /*  */
}
div.card .digital::before, 
div.card .digital::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #000000;
    color: #ffffff;
    content: attr( data-number );
    overflow: hidden;
    perspective: 180px;
}
div.card .digital::before {
    bottom: 50%;
    border-bottom: 1px solid #d0d0d0;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
}
div.card .digital::after {
    top: 50%;
    line-height: 0;
    border-top: 1px solid #d0d0d0;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
}
.digital.front::after, 
.digital.back::before {
    z-index: 1;
}
.digital.back::after {
    z-index: 2;
    transform-origin: top center;
    transform: rotateX( 0.5turn );
}
.digital.front::before {
    z-index: 3;
}
@keyframes frontFlipDown {
    to {
        transform: rotateX( 0.5turn );
    }
}
.card.running .front::before {
    transform-origin: center bottom;
    animation: frontFlipDown 0.6s ease-in-out;
    backface-visibility: hidden;
}
@keyframes backFlipDown {
    to {
        transform: rotateX( 0 );
    }
}
.card.running .back::after {
    animation: backFlipDown 0.6s ease-in-out;
}
.divider {
    font-size: 66px;
    line-height: 90px;
}