/* === === === 页面 === === === */
#page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    z-index: 1;
}
#page::-webkit-scrollbar {
    width: 5px;
}

/* 滚动条 */
#page::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: rgba( 80, 80, 80, 0.5 );
}
#page::-webkit-scrollbar-thumb:hover {
    background-color: rgba( 80, 80, 80, 0.8 );
}

/* 滚动条轨道 */
#page::-webkit-scrollbar-track-piece{
    background-color: rgba( 213, 213, 213, 0.3 );
}



/* === === === 页面头部 === === === */
#page header {
    position: relative;
    width: inherit;
    height: 100vh;
    transition: all 0.5s ease;
}


/* === 头部导航 === */
header #head-nav {
    margin: 0 auto;
    width: 98%;
    height: 60px;
    display: grid;
    grid-template-rows: repeat( 1, 1fr );
    grid-template-columns: var( --page-header-columns );
    grid-template-areas: var( --page-header-areas );
    box-sizing: border-box;
    line-height: 60px;
}

/* --- 博客名字 --- */
header #head-nav .blog-name {
    width: 200px;
    height: inherit;
    color: var( --default-color );
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    /* line-height: 60px; */
}
header #head-nav .blog-name a.site {
    color: var( --default-color );
    letter-spacing: 0.1em;
}

/* --- 菜单 --- */
header #head-nav .menus {
    position: relative;
    padding: var( --page-header-menus-padding );
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: menus-start;
    box-sizing: border-box;
}
header .menu-item {
    width: 50px;
    height: 30px;
    display: var( --page-header-menu-item );
    text-align: center;
    line-height: 30px;
}
header .menu-item.search {
    display: block;
}
header .menu-item a {
    position: relative;
    padding-bottom: 3px;
    color: rgba( 255, 255, 255, 0.9 );
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease;
}
header .menu-item a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #987bff;
    content: '';
    transition: width 0.3s ease;
}
header .menu-item a:hover {
    color: var( --default-color );
}
header .menu-item a:hover::after {
    width: 100%;
}
header .menu-item a:hover span {
    text-shadow: none;
}
header .menu-item i {
    font-weight: bold;
}
header .menu-item span {
    text-shadow: 1px 1px 2px #000000;
}

/* 侧边栏菜单 */
#head-nav .sidebar-switch {
    position: absolute;
    top: 0;
    right: var( --page-header-switch-right );
    height: 70%;
    /* color: #000000; */
    color: var( --default-color );
}
#head-nav .sidebar-switch i {
    font-size: 20px;
}
#head-nav .sidebar-switch i:hover {
    color: #ea517f;
    cursor: pointer;
}

.menus .menu-content {
    position: absolute;
    top: 0;
    /* right: -17px; */
    right: -320px;
    width: 300px;
    height: 100vh;
    background-color: var( --default-color );
    color: #4c4948;
    /* transform: translateX( 300px ); */
    opacity: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 2;
}

/* 菜单图片 */
.menu-content .menu-img {
    /* width: 100%; */
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

/* 站点数据 */
.menu-content .site-data, 
.author-card .site-data {
    padding: 10px 15px 0;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
}
.menu-content .site-data .site-data-link, 
.author-card .site-data .site-data-link {
    float: left;
    width: calc( 100% / 3 );
    height: 100%;
}
.menu-content .site-data .site-data-link:hover h4, 
.author-card .site-data .site-data-link:hover h4 {
    color: #ff5959;
}
.menu-content .site-data .site-data-link a, 
.author-card .site-data .site-data-link a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-align: center;
    line-height: 30px;
}
.menu-content .site-data .site-data-link h4, 
.author-card .site-data .site-data-link h4 {
    height: 30px;
    font-size: 14px;
    font-weight: 400;
}
.menu-content .site-data .site-data-link p, 
.author-card .site-data .site-data-link p {
    height: 40px;
    font-size: 18px;
    font-weight: 500;
}

/* 装饰条 */
.menu-content div.decoration {
    position: relative;
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 24px;
    overflow: hidden;
}
.menu-content div.decoration i, 
.menu-content div.decoration i::before {
    float: left;
    display: block;
    width: 24px;
    height: 24px;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
    transform: rotateZ( 0deg );
}
.menu-content div.decoration i {
    color: #8fcdff;
}
.menu-content div.decoration i:hover {
    color: #a187ff;
    animation: decorationShakeEffect 0.5s ease-in-out infinite;
}
.menu-content div.decoration .shakeStar {
    color: #ce84c2;
    animation: decorationShakeEffect 0.5s ease-in-out 4;
}
@keyframes decorationShakeEffect {

    30% {
        transform: rotateZ( -15deg );
    }
    50% {
        transform: rotateZ( 0deg );
    }
    70% {
        transform: rotateZ( 15deg );
    }
}

/* 菜单项目 */
.menu-content .menu-items {
    width: 100%;
    height: 240px;
}
.menu-content .menu-items .item {
    margin-bottom: 10px;
    padding: 5px 30px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
.menu-content .menu-items .item a {
    display: block;
    width: 110px;
    height: 30px;
    color: inherit;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}
.menu-content .menu-items .item a:hover {
    background-color: rgba( 240, 240, 240, 0.8 );
    color: #ff5959;
}
.menu-content .menu-items .item i {
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
}

/* --- 遮罩层 --- */
#head-nav .mask-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    background-color: rgba( 0, 0, 0, 0.5 );
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}


/* === 站点信息 === */
header #site-info {
    position: absolute;
    top: 43%;
    left: 0;
    padding: 0 10px;
    width: 100%;
    height: 100px;
    color: var( --default-color );
    text-align: center;
}
#site-info .site-title, 
#site-info .site-subtitle {
    width: 100%;
    height: 50px;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0.1em;
}
#site-info .site-subtitle {
    font-size: 28px;
}
#site-info .site-subtitle span {
    width: auto;
    height: auto;
    overflow: hidden;
}
#site-info .site-subtitle span::after {
    text-align: center;
    line-height: 35px;
    content: '|';
    animation: textFlickerEffect 0.5s linear infinite;
}
@keyframes textFlickerEffect {
    to {
        color: transparent;
    }
}


/* === 向下更多 === */
header #down-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    height: 45px;
    color: var( --default-color );
    text-align: center;
    line-height: 45px;
}
header #down-more i {
    display: inline-block;
    font-size: 35px;
    cursor: pointer;
    animation: iconfontFloatEffect 1.5s ease infinite;
}
@keyframes iconfontFloatEffect {
    0% {
        transform: translateY( 0 );
        color: rgba( 255, 255, 255, 0.5 );
    }
    50% {
        transform: translateY( -20px );
        color: rgba( 255, 255, 255, 1 );
    }
    100% {
        transform: translateY( 0 );
        color: rgba( 255, 255, 255, 0.5 );
    }
}



/* === === === 页面主体 === === === */
#page main {
    padding: 40px calc( 50% - 80% / 2 );
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: var( --page-main-wrap );
    justify-content: space-around;
    background-color: rgba( 255, 255, 255, 0.25 );
    transition: background-color 0.5s ease;
}


/* === 侧边栏 === */
main #sidebar {
    margin-right: 10px;
    width: 280px;
    height: inherit;
}
main #sidebar .card {
    color: #000000;
    background-color: #ffffff;
    transition: all 0.5s ease;
}

/* --- 信息卡片 --- */
#sidebar .author-card, 
#sidebar .announce-card, 
#sidebar .other-card, 
#sidebar .music-card {
    padding: 20px 24px;
    width: 100%;
    height: 330px;
    border-radius: 8px;
    background-color: var( --default-color );
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}
#sidebar .author-card:hover, 
#sidebar .announce-card:hover, 
#sidebar .other-card:hover, 
#sidebar .music-card:hover {
    box-shadow: -1.5px 3px 5px 3px rgba( 0, 0, 0, 0.15 );
}

/* 个人图片 */
.author-card .author-img {
    position: relative;
    width: 100%;
    height: 160px;
    overflow: hidden;
}
.author-card .author-img img {
    margin: 0 auto 5px;
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #987bff;
    overflow: hidden;
}
.author-card .author-img span.author-name {
    display: block;
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: inherit;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

/* 站点数据 */
.author-card .site-data {
    padding: 10px 10px 0;
    color: #4c4948;
}
.author-card .site-data a {
    color: inherit !important;
}

/* 联系作者 || 作者更多 */
.author-card .author-contact-link {
    position: relative;
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    background-color: #8ccbff;
    color: var( --default-color );
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    z-index: 1;
}
.author-card .author-contact-link::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: inherit;
    background-color: #e8adff;
    content: '';
    transition: all 0.5s ease-out;
    z-index: -1;
}
.author-card .author-contact-link:hover::before {
    width: 100%;
    transition: all 0.5s cubic-bezier( 0.45, 1.64, 0.47, 0.66 );
}
.author-card .author-contact-link i {
    margin-right: 5px;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
}

/* --- 公告卡片 --- */
#sidebar .announce-card {
    margin-top: 20px;
    height: auto;
}

/* 公告标题 */
.announce-card .announce-title, 
.music-card .music-title {
    position: relative;
    width: 100%;
    height: 35px;
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.announce-card .announce-title i, 
.music-card .music-title i {
    float: left;
    height: 20px;
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    transform: rotateZ( -5deg );
    transform-origin: center top;
    animation: announceShakeEffect 1.5s linear infinite;
}
.announce-card .announce-title i:hover, 
.music-card .music-title i:hover {
    animation: announceShakeEffect 0.3s linear infinite;
}
@keyframes announceShakeEffect {
    0% {
        transform: rotateZ( -5deg );
        color: #ff0000;
    }
    50% {
        transform: rotateZ( 5deg );
        color: rgba( 255, 0, 0, 0.5 );
    }
    100% {
        transform: rotateZ( -5deg );
        color: #ff0000;
    }
}
.announce-card .announce-title span.title-text, 
.music-card .music-title span.title-text {
    margin-left: 10px;
    float: left;
}

/* 公告内容 */
.announce-card .announce-content, 
.music-card .music-content {
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    color: inherit;
    font-size: 14px;
}

/* --- 音乐卡片 --- */
#sidebar .music-card {
    margin-top: 20px;
    height: auto;
}

/* 卡片标题 */
.music-card .music-title i {
    font-weight: lighter;
    transform-origin: right top;
}

/* 卡片内容 */
.music-card .music-content {
    /*  */
}

/* 卡片链接 */
.music-card .music-link {
    margin: 5px 0;
    float: right;
    color: #ea517f;
}
.music-card .music-link:hover {
    color: #cca4e3;
}

/* --- 其他卡片 --- */
.other-card {
    /*  */
}
#sidebar .other-card {
    margin-top: 20px;
    height: auto;
}


/* === 帖子 === */
main #posts {
    width: 880px;
    /* width: 72%; */
    height: auto;
}

/* --- 帖子项目 --- */
#posts .post-item {
    margin-bottom: 30px;
    width: 100%;
    height: var( --page-main-post-item-height );
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: #ffffff;
    /* transition: box-shadow 0.5s ease; */
    transition: all 0.5s ease;
    overflow: hidden;
}
#posts .post-item:hover {
    box-shadow: -1.5px 3px 5px 3px rgba( 0, 0, 0, 0.15 );
}
#posts .post-item:hover .post-item-img img {
    transform: scale( 1.15 );
}

/* 项目图片 */
.post-item .post-item-img {
    width: 45%;
    height: 100%;
    background-image: var( --temp-bg-linear );
    overflow: hidden;
}
.post-item .post-item-img a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.post-item.html-item .post-item-img a {
    background-color: #e95a22;
}
.post-item.css-item .post-item-img a {
    background-color: #ef9701;
}
.post-item.javascript-item .post-item-img a {
    background-color: #f0db4e;
}
.post-item.jquery-item .post-item-img a {
    background-color: #1e2e3b;
}
.post-item.vue-item .post-item-img a {
    background-image: linear-gradient( to bottom, #39ba82, #37495f );
}
.post-item.animation-item .post-item-img a {
    background-image: linear-gradient( 200deg, #dfd6f1, #fcaeaa );
}
.post-item .post-item-img img {
    position: absolute;
    top: 0;
    left: 0;
    top: calc( 50% - var( --page-main-post-item-img-height ) / 2 );
    left: calc( 50% - var( --page-main-post-item-img-width ) / 2 );
    width: var( --page-main-post-item-img-width );
    height: var( --page-main-post-item-img-height );
    transform: scale( 1 );
    transition: all 0.5s ease-in-out;
}
.post-item .post-item-img a:hover img {
    /* transform: scale( 1.1 ); */
}

/* 项目信息 */
.post-item .post-item-info {
    padding: 0 40px;
    width: 55%;
    height: 180px;
    box-sizing: border-box
}

/* 标题 */
.post-item-info .post-title-link {
    margin: 0 auto 10px;
    display: block;
    width: auto;
    /* height: 35px; */
    height: auto;
    color: inherit;
    font-size: var( --page-main-post-title-link );
    text-align: center;
    line-height: 30px;
    /* letter-spacing: 1px; */
}
.post-item-info .post-title-link:hover {
    color: #987bff;
}
/* 时间 */
.post-item-info .post-time {
    margin-bottom: 10px;
    width: 100%;
    /* height: 40px; */
    height: auto;
    max-height: 40px;
    display: -webkit-box;
    font-size: 12px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-item-info .post-time p {
    color: #858585;
    line-height: 15px;
}
.post-item-info .post-time p i {
    color: #858585;
    vertical-align: middle;
}
/* 介绍 */
.post-item-info .post-introduce {
    width: 100%;
    /* height: 85px; */
    height: auto;
    font-size: 14px;
}
.post-item-info .post-introduce p {
    display: -webkit-box;
    line-height: 2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-item-info .post-introduce p a {
    color: #901E28;
}

/* --- 特殊帖子项目 --- */
#posts .special-post-item {
    /* margin-top: 20px; */
}



/* === === === 页面页脚 === === === */
#page footer {
    padding: 20px 24px;
    width: inherit;
    height: 150px;
    background-color: rgba( 255, 255, 255, 0.8 );
    background-image: var( --bg-layer-img );
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 90%;
    text-align: center;
    box-sizing: border-box;
    color: var( --default-color );
}


/* === 版权 === */
footer #copyright {
    width: 100%;
    height: auto;
}

/* --- 个人 --- */
#copyright .personal-copyright, 
#copyright .platform-copyright {
    width: 100%;
    height: 20px;
    color: inherit;
    font-size: 14px;
    line-height: 20px;
}

/* --- 平台 --- */
#copyright .platform-copyright {
    /*  */
}
#copyright .platform-copyright a, 
footer #source a, 
footer #ending a {
    color: inherit;
    vertical-align: middle;
}
#copyright .platform-copyright a:hover, 
footer #source a:hover, 
footer #ending a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* === 来源 === */
footer #source {
    width: 100%;
    height: auto;
    color: inherit;
    font-size: 14px;
    line-height: 20px;
}

/* === 结尾语 === */
footer #ending {
    width: 100%;
    height: 30px;
    color: inherit;
    font-size: 14px;
    line-height: 30px;
}